:root{
  --bPrimary : #0598fa;
  /* --bPrimary : #ffaa00; */
  /* #ffa800 */
  /* --bs-orange: #fd7e14; */
  --bs-white : white;
  --bs-orange: #00308F;
}
#root{
    height: 100vh;
}
h1, h2, h3, h4, h6{
    text-transform: capitalize;
}
p{
    line-height: 25px;
    font-size: 18px;
}
.bodyappblack{
    background-color: #060610;
    color: white;
    overflow: auto;
    height: 100%;
}
.bodyappblack a{
    color: #cbcbcb;
}
.bodyappwhite{
background-color: white;
color: #060610;
overflow: auto;
height: 100%;
}
.bodyappwhite a{
    color: #060610;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mainContainersHeader{
    /* border: 2px solid; */
}

/* top header */
.topHeader{
display: flex;
align-items: center;
justify-content: space-between
}
.pageTitle{
text-transform: capitalize;
}
.pageTitle h4{

}
.prnot{
display: flex;
align-items: center;
gap: 10px;
}
.not{
position: relative;
}
.not svg{
    /* color: var(--bs-orange); */
    font-size: 21px;
}
.dot{
    position: absolute;
    top: 2px;
    right: 5px;
    background: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}
.profileImg{
    width: 40px;
    height: 40px;
    background: var(--bs-orange);
    border-radius: 50%;
}
.profileImg img{
    border-radius: 50%;
    margin-left: 5px;
}
.mobileview{
    display: none;
}
.mobileProfile{
    display: none;
}
@media(max-width : 550px){
    .desktopview{
        display: none;
    }
    .mobileview{
        display: flex;
    }
    .mobileProfile{
        display: block;
        margin-top: 25px;
        font-weight: 500;
    }
}
/* top header end */
.mainCon{
    border-radius: 50px;
    margin-top: 50px;
    padding: 10px;
}

.mainBalance{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.totalBalance{
    background-color: #060610;
    border-radius: 10px;
    color: white;
    width: 30%;
    padding: 10px;
    text-transform: capitalize;
}
.total{
display: flex;
/* align-items: center; */
gap: 10px;
}
.total p{

}
.total .eyesIcon{

}
.interest{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #060610;
    color: white;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
}
.transactionsection{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.firstsection{
width: 70%;
border: 2px solid;
height: 200px;
}
.secondsection{
width: 20%;
border: 2px solid;
height: 200px;
}
/* ======================= landing page =========================== */
.homeLandingPage{
    padding: 10px 40px;
}
.headingCon{
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 20px;
}

.headerLogo{
 height: 50px;
}

.headermenu{
    display: flex;
    align-items: center;
    gap: 60px;
}
.headermenu ul {
    display: flex;
    align-items: center;
    gap: 10px;
}
.auth{
 display: flex;
 align-items: center;
 gap: 10px;  
 text-transform: capitalize; 
}
.loginauth{
border-radius: 50px;
background-color: var(--bs-orange);
padding: 7px 20px;
cursor: pointer;
}
.signupauth{
    border-radius: 50px;
    border: 2px solid var(--bs-orange);
    padding: 7px 20px;
    cursor: pointer;
}
.landingBarMenu{
  display: none;
  background-color: var(--bs-orange);
  padding: 10px;
  border-radius: 5px;
  padding: 10px 10px 1px 10px;
  text-align: center;
}
.landingBarMenu svg{
  color: var(--bs-white);
  font-size: 22px;
}

@media(max-width : 620px){
    .landingBarMenu{
        display: block;
    }
    .headermenu ul{
        display: none;
    }
    .headermenu .auth{
        display: none;
    }
}

.herosectioncon{
display: flex;
margin-top: 50px;
gap: 40px;
}

.herosectionimage{
width: 50%;
height: 400px;
}

.herosectioncontent{
width: 50%;
}
.herosectioncontent h1{
  color: var(--bs-orange);
margin-bottom: 12px;
}
.herosectioncontent p{

}
.getstarted{
 margin-top: 20px;
 text-transform: capitalize;
 width: max-content;
 padding: 10px;
 border-radius: 10px;
 font-weight: bold;
 background-color: var(--bs-orange); 
 color: var(--bs-white) !important;  
 display: flex;
 align-items: center;
 gap: 10px;
 cursor: pointer;
}
.getstarted a{
  color: var(--bs-white);
}
.getstarted svg{
    font-size: 20px;
    margin-top: 5px;
}

@media(max-width : 900px){
.herosectioncon{
display: block;
}       
.herosectioncontent{
width: 100%;
}
.herosectionimage{
    width: 100%;
    margin-top: 20px;
    height: 400px;
    }
}

/* ---------------- */
.historySection{
    margin-top: 40px;
}
.historySectionCon{

}
.historySectionCon h1{
    margin-bottom: 20px;
}
.historyConFlex{
display: flex;
gap: 10px;
flex-wrap: wrap;
justify-content: space-between;
}
.historyProfitCon{
    flex-basis: calc(33.33% - 20px);
    position: relative;
    background-color: var(--bPrimary);
    color: var(--bs-white);
    border-radius: 10px;
    padding: 70px 20px 10px 20px;
    text-transform: capitalize;
}
.historyDate{
    background: var(--bs-orange);
    width: 186px;
    font-size: 16px;
    padding: 7px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.profitmargin{
position: absolute;
top: 10px;
right: 10px;
background-color: var(--bs-white); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 24px;
font-weight: bold;
padding: 10px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profitCon{
border-top: 1px solid var(--bs-orange);
padding-top: 10px;
}
.profitCon p{

}

/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
    .historyProfitCon {
      flex-basis: calc(50% - 20px);
      margin-bottom: 20px;
    }
  }  

/* Mobile devices (max-width: 768px) */
@media (max-width: 768px) {
    .historyProfitCon {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
  
/* ====================== about us ========== */

.aboutSection{
margin: 40px 0px;
}
.aboutSection h1{
text-transform: capitalize;
margin-bottom: 20px;
}

.aboutSectionCon{

}

.aboutContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aboutOutline{
display: flex;
align-items: center;
gap: 10px;
}
.aboutOutlineIcon{
    background-color: var(--bs-orange);
    border-radius: 8px;
    padding: 10px;
}
.aboutOutlineIcon svg{
    font-size: 18px;
    color: #df9b2c;
}
.aboutOutlineContext{

}
.aboutOutlineContext h4{
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 24px;
}

@media(max-width : 650px){
    .aboutOutline{
        flex-direction: column;
        align-items: normal;
    }
}

/* ============= about us end ================ */
.pastEvent{
    margin: 20px 0px;
}
.pastEventHeader{
    margin-bottom: 20px;
}
.eventConwrapper{
margin: 0px 10px;
}

.eventCon{
    border-radius: 10px ;
    border: 2px solid var(--bPrimary);
    width: 250px;
    padding: 10px;
}

.eventImage{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.eventImage img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* ==========  our team ================== */
.founderProfile{
    margin-top: 40px;
    margin-bottom: 40px;
}
.team-members-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(30.33% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  border-radius: 10px;   
  }
  .TeamProfileImage{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: skyblue;
  }
  .TeamProfileImage img {
    object-fit: cover;
    border-radius: 50%;
    margin-left: 7px;
    border-left: 5px solid var(--bPrimary);
    border-bottom: 5px solid var(--bs-orange);
  }
  
  .portfolio {
    margin-top: 20px;
  }
  
  .read-more {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bs-orange);
    color: #fff;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: fit-content;

  }
  .read-more button{
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    color: white;
  }
  .read-more svg{
    font-size: 16px;
    margin-top: 5px;
  }
  .read-more:hover{
    width: 75%;
  }
  
  @media (max-width: 768px) {
    .team-member {
      flex-basis: calc(40% - 20px); 
    }
  }
  @media (max-width: 600px) {
    .team-member {
        flex-basis: 100%;
       margin: 20px 0px;
      }
  }
  
/* ============ our team end ============= */

/* faq */
.faqCon{
    border: 1px solid;
}
.faq-section {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .faq-section ul{
    margin-top: 50px;
  }
  .faq-section ul li{
    border: 1px solid;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .faq-question {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .question {
    font-weight: bold;
    font-size: 18px;
  }
  
  .arrow {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 2px;
 
  }
  
  .faq-answer {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

/* faq end */


/* ============== footer ============ */
.footer {
    background-color: black;
    color: #fff;
    margin: -5px -40px 0px -40px;
    text-transform: capitalize;
  }
  .footerCon{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .contactus {
    width: 30%;
    margin-left: 20px;
  }
  
  .contactus h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contactFlexicon {
    display: flex;
    
    align-items: center;
  }
  
  .icon {
    margin-right: 20px;
  }
  
  .icon a {
    color: #fff;
    font-size: 24px;
  }
  
  .contactItemCon {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .itemCon {
    margin-right: 50px;
  }
  
  .itemCon h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .itemCon p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ccc;
  }
  
  .itemCon p:hover {
    color: #fff;
  }
.copyright{
    border-top: 1px solid white;
    padding: 10px 0px;
    text-align: center;
    text-transform: capitalize;
}
/* ========== footer end ================ */



@media(max-width : 500px){
    .homeLandingPage {
        padding: 4px 15px;
    }
    .headingCon{
        padding: 5px 0px;
    }
    .herosectioncon {
        margin-top: 10px !important;
    }
    .herosectioncontent h1 {
        font-size: 20px;
       
    }
    h1{
        font-size: 22px !important; 
    }
    .aboutSection {
        margin: 10px 0px !important;
    }
    .footerCon{
        flex-direction: column-reverse;
        padding-left: 40px;
    }
    .contactus{
        margin-left: 0px;
    }
    .faq-section ul li{
        padding: 1px;
    }
}